body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: black;
  color: white;
}

.container-Barra {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #212121;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

.container-botoes {
  display: flex;
  align-items: center;
  gap: 22px;
}

.container-botoes-skip {
  font-size: 20px;
}

.container-botoes-pause {
  font-size: 30px;
}

.container-botoes button {
  background: none;      
  border: none;          
  outline: none;          
  color: white;           
  cursor: pointer;       
  display: flex;          
  align-items: center;
  justify-content: center;
  all: unset;
  cursor: pointer;
}

.container-botoes button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  all: unset;
  cursor: pointer;
}

.container-botoes > :not(:first-child):not(:last-child) {
  font-size: 2rem;
}

.container-favorites {
  width: 100%;
  height: 500px;
  
}

.container-background {
   width: 100%;
  height: 844px;
  
  background: linear-gradient(
      to bottom,
    rgba(0, 0, 0, 0.5) 0%,   
    rgba(0, 0, 0, 0.95) 60%,
    rgb(0, 0, 0) 100%
    ),
    url("./assets/background-yt3.jpg");

  background-size: cover;      
  background-position: top;   
  background-attachment: fixed;

  display: flex;               
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.container-head-favorite {
  display: flex;       
  flex-direction: row; 
  justify-content: left; 
  align-items: center;
  gap: 20px;
  margin: 0px;
  margin-left: 70px;
}

.container-ProfilePhoto {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.container-favorites-album {
  display: flex;       
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  gap: 30px;
  margin-left: 70px;
}

.container-favorites-album button {
  all: unset;
  cursor: pointer;
}

.container-favorites-album button img {
  width: 200px;
  height: 200px;
}

.texto-acdc h3{
  margin: 0px;
  margin-top: 2px;
  color: white;
}
.texto-acdc h4{
  color: #858585;
  margin: 0px;
  margin-top: 2px;
}
.texto-acdc p{
  color: #858585;
  margin: 0px;
  margin-top: 2px;
}

.ChannelFavorite {
  border-radius: 100px;
}

.ChannelFavorite-texto {
  text-align: center;
  margin: 0px;
  padding: 0;
}

.ChannelFavorite-texto {
  color: white;
}

.ChannelFavorite-texto p {
  margin-top: -20px;
  color: #858585;
}

.container-barra-time {
  margin-left: 15px;
  color: #858585;
  font-size: 12px;
}

.container-progresso {
  width: 100%;
  height: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.progress-total {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #909090;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

.progress-current {
  position: fixed;
  bottom: 70px;
  left: 0px;
  height: 2px;
  background-color: red;
  display: flex;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

.container-cover-barra {
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0 430px;

}